.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #004c8f;
  color: #ffffff;
}

.logo {
  width: 100px;
}

.header h1 {
  align-items: center;
  flex: 1;
  font-size: 3.125rem;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 40px;
}

.nav-bar ul {
  margin-top: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px;
  justify-content: space-evenly;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 20px;
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  align-items: center;
  text-align: center;
  color: hsla(0, 0%, 1%, 0.774);
}

.article-card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.article-card p {
  margin: 0px;
}

.topic-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  align-items: center;
  text-align: center;
  color: hsla(0, 0%, 1%, 0.774);
}

.topic-card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
